.main{
    margin-left: 20px;
    margin-right: 20px;
}

.input-groups{
    padding-right: 0px;
    margin-top: 10px;
}

.remove-button{
    margin-top: 40px
}

.input-search{
    padding-bottom: 10px;
}

.text-add-location{
    display: inline-block;
}

.icon-add{
    padding-right: 10px;
}
.icon-add:hover{
    cursor: pointer;
}
.icon-remove:hover{
    cursor: pointer;
}