<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-text">
                <div class="ft-content-aboutUs">
                    <h2>ABOUT US</h2>
                    <p>
                        A conservative financial services firm seek a web presenceEquanto is one of the leading
                        companies
                        providing business services for small, medium-sized businesses and large corporation.
                    </p>
                    <i class="fas fa-map-marker-alt"> 9870 St Vincent Place, Glassgow, DC 45 Fr 45.</i>
                    <i class="fas fa-phone-alt"> 8799553419</i>
                    <i class="fas fa-envelope"> info@financialcompany.com</i>
                </div>
                <div class="ft-content-contact">
                    <h2>CONTACT</h2>
                    <ul>
                        <li><a href="#">Sitmap</a></li>
                        <li><a href="#">Fee Schedules</a></li>
                        <li><a href="#">Privacy/Security</a></li>
                        <li><a href="#">Disclosures</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="ft-content-ourService">
                    <h2>OUR SERVICES</h2>
                    <ul>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Buying Safe</a></li>
                        <li><a href="#">Creating</a></li>
                        <li><a href="#">Investment</a></li>
                        <li><a href="#">Planning</a></li>
                        <li><a href="#">Strategic</a></li>
                    </ul>
                </div>
                <div class="ft-content-letter">
                    <h2>NEWS LETTER</h2>
                    <p>Subscribe to our newsletter to get the latest news, tips and advice</p>
                    <div class="mail">
                        <input type="text" placeholder="Email Address">
                        <div class="btnSendMail"><a href="#">SEND</a></div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-square fa-icon"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square fa-icon"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram-square fa-icon"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square fa-icon"></i></a></li>
                    </ul>
                </div>
                <h4>&copy; 2021 by phamvantinh@gmail.com</h4>
            </div>
        </div>
    </div>
</footer>