<div class="div-input" [style.width]='width'>
    <label for="typeahead-focus">
      <i class="fas fa-map-marker-alt"></i>
      {{label}}
    </label>
    <input 
      #instance="ngbTypeahead" 
      #searchBox 
      class="form-control"
      [id]="id" 
      [placeholder]="placeholder" 
      [type]="type" 
      [ngbTypeahead]="search" 
      (focus)="focus.next($any($event).target.value)"
      (click)="click.next($any($event).target.value)" 
      ngModel (ngModelChange)="value(searchBox.value)"/>
  </div>