// Banner
section.banner{
    min-height: 470px;
    background: url(https://images.unsplash.com/photo-1561461221-959c3f16234b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80)no-repeat center ;
    background-size: cover;
    position: relative;
}
div.banner-content{
    position: relative;
    height: 550px;
}
div.banner-content-text{
    position: absolute;
    bottom: 10%;
    right: 5%;
    transform: translate(-5%, -10%);
    color: #ffffff;
}
//Filter groups

.search{
    background-color: #e9f0f7;
}

.filter-groups{
    border-right: 1px solid #fff;
    height: 100%;
    min-height: 100px;
}

.input-search{
    margin: 5px;
}

.input-date{
    margin: 5px;
}

.input-guests{
    margin: 5px;
}

.btn-search{
    margin: 5px;
}
.btn-search button{
    width: 240px;
    height: 50px;
    margin-top: 20px;
}

//=============Section destination
.destination-heading{
    color: #265E9E;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.destination-heading::before{
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 5px;
    background-color: #e3bd36;
    bottom: 30%;
    left: 24%;
    transform: translate(-24%, -30%);
    border-radius: 4px;
}
.destination-item {
    // width: calc(33% - 1.2rem);/* trừ 1.5rem của margin-left*/
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    position: relative;
}
.destination-item a{
    width: 100%;
}
.destination-item .overly-mask{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: #424242;
    opacity: 0.3;
}
.destination-item:hover img{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.destination-image{
    width: 100%;
    height: 24rem;
    object-fit: cover;
}

.row::before{
    display: table;
    content: " ";
}
.destination-title{
    position: absolute;
    bottom: 10%;
    left: 20%;
    transform: translate(-20%,-10%);
}
.destination-title a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
}

//================section trending-hotel
.trending-hotel{
    margin-bottom: 30px;
}
.trending-hotel-heading{
    color: #265E9E;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.trending-hotel-heading::before{
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 5px;
    background-color: #e3bd36;
    bottom: 30%;
    left: 21%;
    transform: translate(-21%, -30%);
    border-radius: 4px;
}
.single-package-item{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: 1px solid #CDD2D5;
    border-radius: 10px;
}
.single-package-item img {
    width: 100%;
    height: 210px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.best-seller {
    position: absolute;
    top: 20px;
    left: 0px;
    background-image: linear-gradient(to right, #D77481, #b9110e);
    color: #fff;
    padding: 3px 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px 40px 40px 0px;
}
.fav-heart {
    position: absolute;
    top: 20px;
    right: 30px;
}
.fav-heart button {
    background: none;
    border: none;
}
.fav-heart i {
    color: #fff;
    /* color: #FF4155; */
    font-size: 20px;
}
.fav-heart i:hover {
    color: #FF4155;
}
.single-package-item-txt {
    padding: 0px 15px 0px 15px;
}
.single-package-item-txt h3{
    color: #5191fa;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}
.single-package-item-txt p{
    margin-bottom: 5px;
}
.single-package-item-txt p>i{
    padding-right: 6px;
}
.package-address {
    font-size: 15px;
    color: #5E6D77;
    padding-bottom: 10px;
    font-weight: 500;
}
.package-price {
    font-size: 15px;
    color: #7f888e;
    font-weight: 500;
}
.package-price i{
    color: #FFD83B;
}
.package-review{
    color: #5E6D77;
    font-size: 14px;
}
.package-review span{
    color: #5191fa;
}