<header>
  <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="http://travelxweb.in/" [routerLink]="['/']">
          <img src="../../assets/TravelX_files/logo.png">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark font-weight-bold" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark font-weight-bold" [routerLink]="['/hotel']">Hotel</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark font-weight-bold" [routerLink]="['/rental']">Rental</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark font-weight-bold" [routerLink]="['/tour']">Tour</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark font-weight-bold" [routerLink]="['/car']">Car</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <div class="header-area header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="logo">
            <a class="navbar-brand" href="https://travelxweb.in/" [routerLink]="['/']">
              <img src="../../assets/TravelX_files/logo.png">
            </a>
          </div>
        </div>
        <div class="col-sm-6 header-right">
          <div class="header-item-right">
            <ul class="login">
              <li><i class="fas fa-user"></i><a href="#">Login</a></li>
              <li><a href="#">SignUp</a></li>
            </ul>
            <i class="fas fa-phone-alt text-right"> 8799553419</i>
            <i class="fas fa-envelope text-right"> travelx@gmail.com</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-area header-bottom">
    <div class="container">
      <div class="row">
        <ul class="header-menu">
          <li class="header-menu-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/']">Home</a>
          </li>
          <li class="header-menu-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/hotel']">Hotel</a>
          </li>
          <li class="header-menu-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/rental']">Rental</a>
          </li>
          <li class="header-menu-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/tour']">Tour</a>
          </li>
          <li class="header-menu-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white font-weight-bold" [routerLink]="['/car']">Car</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>